
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');


/* Color Scheme: https://paletton.com/#uid=13L0u0kkHFVakUbg4NgoUztv5uQ*/
html{
    font-family: "Playfair Display", sans-serif, serif;
    width:100%;
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 1.25em .625em 1.25em .625em
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.5em; /*10px/20px*/
  }
nav{
    font-family: 'Nunito Sans', sans-serif;
    max-width: 100%;
}

input {
  text-align: center;
  margin: 1%;
}

footer {
 font-size: .85em;
 padding-left: 0.5em;
 padding: 0.5em;
 background-color: #b0b2b5;
 color: #ffffff;
 padding-bottom: 5em
}


/* navigation css*/
.nav li {
  padding-bottom: 0.4em; /*8px/20px*/
}
.nav a {
  display: block;
  text-decoration: none;
  background: rgb(115,179,210);
  background: linear-gradient(90deg, rgba(115,179,210,1) 0%, rgba(37,110,216,1) 90%);
  padding: 0.45em; /*9px/20px*/
}
.nav a:hover {
  background: #f4853b;
}
/* Home Page CSS */
#logo{
  width: 150px;
  height: 150px;
}


/*End of Home Page CSS */


/*About us page CSS*/

.aboutUsP {
  font-family: "Playfair Display", sans-serif, serif;
  font-size: 1.25em;
  padding: 3.125em 10% 3.125em 10%;
}

.aboutUs {
  padding: .25em 0px 1em 0px;
  font-size: 1.875em;
  text-align: center;
}

.aboutUsList {
  font-size: 1.25em;
  display: inline-block;
  text-align: left;
  list-style: inside;
  padding: 1em 20% 1em 20%;
}

h2{
  text-align: center;
  font-size: 1.5em;
}

img {
  width: 33%;
  height: 12.5em;
}

/*End of About us page*/

/*Contact us page css*/

  .pic {
    background-image: url(../media/cropped-isudlogo1.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-color: #ffffff
 }

.contacthead {
  font-size: 1.875em
}

.subhead {
  font-size: 1.25em
}

.lhead  {
  font-size: .833em
}

.btn {
  width:100px;
  margin-top:10px;
  padding: 10px;
  background-color:lightgrey;
  border-style: double;
  border-radius: 4px;
  box-shadow: 3px 3px 3px;
 }

.textbox{
  background: #f2f2f2;
  border: none;
  padding: 12px;
  border-radius: 3px;
  width: 350px;
  display:inline-block;
}

.pic li{
  border-radius: 2px;
  padding-left: 3px;
  padding:6px;
  width:300px;
}
/*End of contact us CSS*/


  /*Begin State Styles below  */
  @media screen and (min-width: 20.625em) {
    .nav::after {
      content: "";
      display: block;
      clear: both;
      float: none;
    }
    .nav li {
      float: left;
      width: 25%;
      text-align: center;
    }
    .nav a {
      margin-right: 0.4em; /*8px/20px*/
    }
    .nav li:last-child a {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 40.625em) {
    /*650px/16px*/
    .nav {
      width: 66.6666666667%;
    }
  }
